.div {
    background-color: #fff;
    display: flex;
    padding-bottom: 80px;
    flex-direction: column;
    align-items: center;
  }
  .div-2 {
    background-color: #28cfc5;
    align-self: stretch;
    width: 100%;
    padding: 22px 50px 22px 13px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .div-3 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-3 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 20%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-4 {
    display: flex;
    flex-grow: 1;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-4 {
      margin-top: 40px;
    }
  }
  .img {
    aspect-ratio: 0.81;
    object-fit: auto;
    object-position: center;
    width: 44px;
  }
  .img-2 {
    aspect-ratio: 3.33;
    object-fit: auto;
    object-position: center;
    width: 170px;
    align-self: start;
    max-width: 100%;
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 58%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-5 {
    background-color: #63e1d9;
    display: flex;
    flex-grow: 1;
    gap: 20px;
    font-size: 36px;
    color: #fff;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    padding: 10px 13px 10px 80px;
  }
  @media (max-width: 991px) {
    .div-5 {
      max-width: 100%;
      margin-top: 40px;
      flex-wrap: wrap;
      padding-left: 20px;
      white-space: initial;
    }
  }
  .div-6 {
    font-family: Inter, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
  }
  .img-3 {
    aspect-ratio: 0.81;
    object-fit: auto;
    object-position: center;
    width: 26px;
    fill: #fff;
    align-self: start;
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 22%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-7 {
    display: flex;
    gap: 20px;
    align-self: stretch;
    font-size: 40px;
    color: #fff;
    font-weight: 400;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-7 {
      margin-top: 40px;
    }
  }
  .div-8 {
    font-family: K2D, sans-serif;
  }
  .div-9 {
    font-family: K2D, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-10 {
    color: #000;
    margin-top: 176px;
    font: 400 64px K2D, sans-serif;
  }
  @media (max-width: 991px) {
    .div-10 {
      max-width: 100%;
      margin-top: 40px;
      font-size: 40px;
    }
  }
  .div-11 {
    color: #000;
    align-self: start;
    margin: 89px 0 0 250px;
    font: 400 32px K2D, sans-serif;
  }
  @media (max-width: 991px) {
    .div-11 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-12 {
    align-items: start;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    margin-top: 7px;
    width: 966px;
    max-width: 100%;
    color: #949090;
    white-space: nowrap;
    padding: 20px 18px 9px;
    font: 400 32px K2D, sans-serif;
  }
  @media (max-width: 991px) {
    .div-12 {
      max-width: 100%;
      padding-right: 20px;
      white-space: initial;
    }
  }
  .div-13 {
    color: #000;
    align-self: start;
    margin: 11px 0 0 250px;
    font: 400 32px K2D, sans-serif;
  }
  @media (max-width: 991px) {
    .div-13 {
      margin-left: 10px;
    }
  }
  .div-14 {
    align-items: start;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    width: 966px;
    max-width: 100%;
    color: #949090;
    white-space: nowrap;
    justify-content: center;
    padding: 23px 18px;
    font: 400 32px K2D, sans-serif;
  }
  @media (max-width: 991px) {
    .div-14 {
      padding-right: 20px;
      white-space: initial;
    }
  }
  .div-15 {
    background-color: #aadfdc;
    z-index: 10;
    margin-top: 59px;
    width: 271px;
    max-width: 100%;
    color: #000;
    text-align: center;
    justify-content: center;
    padding: 26px 40px;
    font: 400 32px K2D, sans-serif;
  }
  @media (max-width: 991px) {
    .div-15 {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-16 {
    background-color: #fff;
    margin-top: -6px;
    width: 271px;
    max-width: 100%;
    color: #000;
    text-align: center;
    justify-content: center;
    padding: 29px 44px;
    font: 400 20px K2D, sans-serif;
  }
  @media (max-width: 991px) {
    .div-16 {
      padding: 0 20px;
    }
  }